.code-generation-container  { 
    height: 100vh; 
    max-width: var(--primary-width-content-app);
    min-width: 600px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    row-gap: 15px;

    .upload-section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
        padding: 30px 0 30px;
        // background: #3498db;
        border-radius: 8px;
        // box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.1);
        background: transparent !important;

        .file-upload {
            display: flex;
            justify-content: space-between;
            align-items: center; 

            .file-input {
                display: none;
            }

            .upload-label {
                padding: 12px 24px;
                background-color: #27ae60;
                color: white;
                border-radius: 6px;
                cursor: pointer;
                transition: background-color 0.2s;

                &:hover {
                    background-color: #27ae60;
                }
            }
            
            .template {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                column-gap: 20px;
    
                label {
                    flex: 1;
                    font-size: 1rem;
                    font-weight: 500;
                    color: #2c3e50;
                    font-style: italic;
                    text-align: right;
                }
                
                .file-template_cluster {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 15px;
    
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }


    }
    
    .form-section {
        display: flex;
        flex-direction: column;
        align-items: stretch; 
        row-gap: 30px;
        padding: 30px 40px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 15px 4px rgba(0, 0, 0, 0.1);
        
        .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        
            label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: 600;
                color: #2c3e50;
            }
        
            .form-input {
                flex: 1;
                padding: 10px;
                border: 2px solid #ccc;
                border-radius: 8px;
                resize: none;
                font-size: 1rem;
        
                &:focus {
                    outline: none;
                    border-color: #3498db;
                    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
                }
            }
        
            .test-case-container {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                row-gap: 15px;
        
                .test-inputs {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 10px;
        
            
                    .remove-btn {
                        background: #dc3545;
                        color: white;
                        cursor: pointer;
                        width: 40px; 
                        height: 40px;
                        border-radius: 100%; 
                        
                        &:hover:not(:disabled) {
                            background: darken(#dc3545, 10%);
                        }
            
                        &:disabled {
                            background-color: #95a5a6;
                            cursor: not-allowed;
                        }
                        img {
                            width: 1rem;
                            height: 1rem;
                            filter: invert(100%);
                        }
                    }
                }

                .btn-cluster {
                    display: flex;
                    flex-direction: row;
                    column-gap: 10px;
                    justify-content: flex-start;

                    .add-test-btn {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        column-gap: 8px;
                        background: #28a745;
                        color: white;
                        border: none;
                        border-radius: 8px;
                        padding: 14px 34px;
                        cursor: pointer;
                    
                        &:hover:not(:disabled) {
                            background-color: #27ae60;
                        }
                    
                        &:disabled {
                            background-color: #95a5a6;
                            cursor: not-allowed;
                        } 
                        span {
                            font-size: 1rem;
                        }
                        img {
                            width: 1rem;
                            height: 1rem;
                            filter: invert(100%);
                        }
                    }
                }
            }
        
        }
    }

    .generate-btn {
        background: #007bff;
        color: white;
        border: none;
        border-radius: 8px;
        padding: 18px 30px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
    
        &:hover {
            background: darken(#007bff, 10%);
        }

        &:disabled {
            background-color: #95a5a6;
            cursor: not-allowed;
        }
    }
    
}